fiftyone==1.0.2
fire==0.6.0
geopandas==1.0.1
numpy==1.26.4 # ultralytics requires numpy < 2.0.0
opencv-python==4.10.0.84
pandas==2.2.3
pillow==11.0.0
PyYAML==6.0.2

# YOLOv5
requests==2.32.3
seaborn==0.13.2
shapely==2.0.4
# Follow instructions at https://pytorch.org to install torch with CUDA
torch==2.3.1 #  NOTE: Omit if using torch with CUDA and install manually
torchvision==0.18.1 # NOTE: Omit if using torch with CUDA and install manually
tqdm==4.67.1
ultralytics==8.2.82
